openapi: 3.0.3
info:
  title: Tri.RS Producer API
  description: >
    API de métricas de vendas para produtores e equipe de marketing.
    Retorna dados agregados de vendas, ingressos, produtos e canais de aquisição.
  version: 1.0.0
servers:
  - url: https://api.tri.rs/producer/api/v1
    description: Produção

paths:
  /sales/today-summary:
    get:
      summary: Resumo das vendas de hoje
      description: Retorna totais de vendas, ingressos e produtos emitidos no dia atual.
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              example:
                success: true
                data:
                  total_amount_sold: 12400.00
                  tickets_count: 320
                  products_count: 45
                  total_count: 365
                meta:
                  current_page: null
                  per_page: null
                  total_items: 4
                  total_pages: 1

  /sales/yesterday-summary:
    get:
      summary: Resumo das vendas de ontem
      description: Retorna totais de vendas, ingressos e produtos emitidos no dia anterior.
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              example:
                success: true
                data:
                  total_amount_sold: 8300.00
                  tickets_count: 280
                  products_count: 30
                  total_count: 310
                meta:
                  current_page: null
                  per_page: null
                  total_items: 4
                  total_pages: 1

  /sales/top10-events:
    get:
      summary: Top 10 eventos em vendas
      description: Retorna os 10 eventos mais vendidos em determinado intervalo de tempo.
      parameters:
        - in: query
          name: interval
          schema:
            type: string
            enum: [last_2_days, last_7_days, last_2_weeks, last_2_months, last_3_months, last_6_months, last_1_year]
          description: Intervalo de tempo para o cálculo (padrão = last_7_days).
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              example:
                success: true
                data:
                  - id: 55
                    name: "Buteco Comedy Festival"
                    total_amount: 15000.00
                    total_sold: 320
                  - id: 22
                    name: "Standup Night"
                    total_amount: 9800.00
                    total_sold: 210
                meta:
                  current_page: null
                  per_page: null
                  total_items: 2
                  total_pages: 1

  /sales/channels:
    get:
      summary: Canais de venda
      description: >
        Retorna a origem das vendas (referer, dispositivo, navegador, plataforma, UTM).
        Os dados são agregados e incluem a contagem de ocorrências.
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              example:
                success: true
                data:
                  - referer: "Butecocomedy.com.br"
                    device: "iPhone"
                    browser: "Chrome"
                    platform: "iOS"
                    utm_source: "Desconhecido"
                    utm_medium: "Desconhecido"
                    count: 15234
                  - referer: "Linktr.ee"
                    device: "iPhone"
                    browser: "Safari"
                    platform: "iOS"
                    utm_source: "Desconhecido"
                    utm_medium: "Desconhecido"
                    count: 4231
                meta:
                  current_page: null
                  per_page: null
                  total_items: 2
                  total_pages: 1

  /sales/daily:
    get:
      summary: Histórico de vendas diárias
      description: Retorna vendas absolutas por dia em um intervalo definido.
      parameters:
        - in: query
          name: start_date
          required: true
          schema:
            type: string
            format: date
          description: Data inicial no formato YYYY-MM-DD
        - in: query
          name: end_date
          required: true
          schema:
            type: string
            format: date
          description: Data final no formato YYYY-MM-DD
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              example:
                success: true
                data:
                  "2025-09-14":
                    total_value: 8000.00
                    total_sales: 200
                    tickets: 150
                    products: 50
                  "2025-09-15":
                    total_value: 12400.00
                    total_sales: 320
                    tickets: 270
                    products: 50
                meta:
                  current_page: null
                  per_page: null
                  total_items: 2
                  total_pages: 1
        '422':
          description: Erro de validação
          content:
            application/json:
              example:
                success: false
                message: "Parâmetros inválidos"
                errors:
                  start_date: ["The start date does not match the format Y-m-d."]
                meta:
                  current_page: null
                  per_page: null
                  total_items: 0
                  total_pages: 0

  /sales/by-ticket-type:
    get:
      summary: Vendas por tipo de ingresso
      description: Retorna vendas agregadas por tipo de ingresso em um intervalo definido.
      parameters:
        - in: query
          name: start_date
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: end_date
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              example:
                success: true
                data:
                  - ticket_type_id: 1
                    ticket_type: "VIP"
                    total_value: 18000.00
                    total_sales: 120
                  - ticket_type_id: 2
                    ticket_type: "Standard"
                    total_value: 6000.00
                    total_sales: 200
                meta:
                  current_page: null
                  per_page: null
                  total_items: 2
                  total_pages: 1

  /sales/absolute:
    get:
      summary: Totais absolutos de vendas
      description: Retorna um resumo absoluto (valor total, quantidade total, ingressos e produtos) em um intervalo definido.
      parameters:
        - in: query
          name: start_date
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: end_date
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              example:
                success: true
                data:
                  total_value: 24000.00
                  total_sales: 320
                  tickets: 250
                  products: 70
                meta:
                  current_page: null
                  per_page: null
                  total_items: 4
                  total_pages: 1
